<h1>This is a todo page.</h1>

<!-- <ul>
    <li>Temporary todo item 1</li>
    <li>Temporary todo item 2</li>
</ul> -->

<ul>
    {% for i in all_items%}
        <li>{{i.content}}
            <form action="/deleteTodo/{{i.id}}/" 
                    style="display: inline;"
                    method="POST">{% csrf_token %}
                
                <input type="submit" value="Delete" />
            </form>
        </li>
    {% endfor %}

</ul>

<ul>
    <form action="/deleteAll/" 
                    style="display: inline;"
                    method="POST">{% csrf_token %}
                
                <input type="submit" value="Delete_Everything" />
            </form>
</ul>

<form action="/todo_app/" method="POST">{% csrf_token %}
    <input type="text" name="content"/>
    <input type="submit" value="Add" />
</form>